body {
  background-color: #f28c37;
}

img {
  border: 1px solid black;
  margin-left: 3em;
  margin-top: 3em;
}

.btn {
  margin-left: 1em;
  background-color: #fff795;
}

h3 {
  margin-left: 1em;
}

h2 {
  margin-left: 1em;
}
